/* eman login */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.flex-container {
display: flex;
justify-content: space-between;
/* flex-wrap: nowrap; */

}
.formStyle{
padding: 10px;
}
.inputS{
/* padding: 10px 10px; */
border:1px solid rgb(104, 110, 124);
border-radius: 5px;
width: 99%;
height: 30px;
}
.labelS {
font-weight: bold;
font-size: 15px;
color:rgb(144, 142, 142);
}
.buttonS{
width: 60%;
height: 30px;
background-color: rgb(184, 19, 19);
color: white;
font-weight: bold;
font-size: 10px;
border-radius: 5px;
}

/* abd home */
* {
margin: 0;
padding: 0;
}

.full {
  width: 100% !important;
}
body {
font-family: "Changa", sans-serif;
}
h1,
h2,
.user--top {
display: inline-block;
}
.hidden {
display: none;
}
a {
  text-decoration: none;
}
i {
cursor: pointer;
}

.pull--left {
float: left;
}

.pull--right {
  float: right;
}

.inline--block {
  display: inline-block !important;
}
.text--right {
  text-align: right;
  display: block;
}
.clear {
clear: both;
}

.btn {
display: block;
padding: 8px 30px;
border-radius: 4px;
border: none;
cursor: pointer;
}

.user--top img {
width: 50px;
border-radius: 50%;
}

.user--top h2 {
position: absolute;
top: 20px;
left: 76px;
}

.user--top i {
position: absolute;
top: 12px;
left: 15%;
}

.user--top ul {
  z-index: 9999;
  border: 1px solid;
  width: 200px;
  background: #32495e;
  text-align: right;
  position: absolute;
  top: 81px;
  left: 12px;
  list-style: none;
}

.user--top ul li {
  padding: 5px 20px;
  cursor: pointer;
}

.user--top ul li:hover {
  background: #506170;
}

header {
height: 70vh;
background: linear-gradient(to right, #da573cda 50%, #33495eda 50%),
  url("./../img/background.jpg");
color: #fff;
}

header i,
header img {
margin: 20px;
}

header h1 {
position: absolute;
left: 45%;
}

header h1::after {
display: inline-block;
height: 4px;
width: 100px;
content: "";
background: #fefefe;
position: absolute;
left: 15%;
top: 40px;
}
.top--header-left {
display: inline-block;
position: absolute;
top: 30vh;
left: 15vw;
}

.top--header-left button {
color: #fff;
font-family: "Changa", sans-serif;
}
.top--header-rigth {
display: inline-block;
position: absolute;
top: 30vh;
right: 10vw;
}

.top--header-rigth button {
color: #fff;
font-family: "Changa", sans-serif;
}
.dark--blue {
background: #33495e;
position: absolute;
left: 10vh;
}

.lithg--blue {
  background: #37b6ff;
  box-shadow: 0px 2px #23719e;
}

.lithg--red {
  background: #da573c;
  box-shadow: 0px 2px #853525;
}
.dark--red {
background: #da573c;
position: absolute;
left: 10vh;
}

.menu {
width: 100%;
background: #f6373794;
height: 70vh;
position: absolute;
list-style: none;
z-index: 999;
}

.menu li {
  padding: 70px 0 25px 47vw;
  cursor: pointer;
}
.menu li:hover {
  background: rgba(214, 188, 188, 0.466);
}
.menu--close {
  cursor: pointer;
  position: absolute;
  top: 17px;
  font-size: 2em;
  right: 30px;
}

/* projects section */

.projects {
  padding: 20px;
  background: #e2e2e2;
}

.project {
  background: #fff;
  margin: 10px 0;
}

.project img {
  width: 50px;
  vertical-align: bottom;
}

.project span {
  margin: 5px 60px;
  color: #2e4057;
}

.projects h2,
.projects h3 {
  color: #2e4057;
}
.projects button {
  color: #fff;
  font-family: "Changa", sans-serif;
}

.projects--header {
  margin: 20px 60px;
}

.lithg--blue i {
  margin-right: 10px;
}

.pagenation span {
  margin: 0 15px;
}

/* footer  */
footer {
  background: #2b3d50;
  padding: 20px;
  position: relative;
}

footer span,
footer h4 {
  color: #fff;
}

footer h4::after {
  display: inline-block;
  height: 4px;
  width: 80px;
  content: "";
  background: #fefefe;
  position: absolute;
  left: 20px;
  bottom: 18px;
}

footer span i {
  color: #e73e3e;
}

/* project--details */

.project--details-pop {
  background: #ffffff80;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

.project--details {
  width: 90vw;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}

.project--details-pop i {
  position: fixed;
  left: 20px;
  top: 20px;
  color: #fff;
  font-size: 3em;
}

/* sing model */

.sing {
  background: #2d3f526c;
  height: 100vh;
}