
<h1>your name {{details.first_name}} {{details.last_name}}</h1>

<p> position {{details.position}}</p>

{{#each info}}

   <h5>title of project: {{this.title}}
</h5>

{{/each}}

<img src="" alt="profil">