<div class="insert-wrap">


<h1>ادراج مشروع جديد</h1>
<form class="insert-post" action="/insertproject" method="POST">
<label for="">عنوان المشروع </label>
<br>
<input type="text" name="title">
<br>
<label for="">محتوى المشروع </label>
<br>
<textarea name="description" rows="8" cols="80"></textarea>
<br>
<label class="price" for="">السعر</label>
<br>
<input class="price" name="price" rows="8" cols="80"></input>
<br>
<label for="">نوع العرض</label>
<br>
  <input type="radio" name="type_project" value="1"> بالساعة<br>
  <input type="radio" name="type_project" value="2"> ككل<br>
<input type="submit" value="ارسال" />
</form>

</div>
