<h1>ادراج مشروع جديد</h1>
<form class="insert-post" action="/insertproject" method="POST">
<label for="">عنوان المشروع </label><input type="text" name="title">
<label for="">محتوى المشروع </label><textarea name="textarea" rows="8" cols="80"></textarea>
<input type="submit" value="ارسال" />
</form>
