
<label class="labelS">Your UserName or Email</label><br>
      <input type="text" id="name" name="username" class="inputS" id="name" ><br>
      <label class="labelS">Your Password</label><br>
      <input type="text" id="password" name="password" class="inputS" id="password"><br>
      <button class="buttonS">Sign in</button>
      <div class="msg"></div>