
<label class="labelS">فضﻷ اسم المستخدم</label><br>
      <input type="text" id="name" name="username" class="inputS" ><br>
      <label class="labelS">الرقم السري</label><br>
      <input type="password" id="password" name="password" class="inputS" ><br>
      <button class="buttonS">سجل دخول </button>
      <div class="msg"></div>

            