<form method="post" action="/logout">
<button type="button" class="btn btn-default btn-sm">
<span class="glyphicon glyphicon-log-out"></span> Log out
</button> glyphicon-log-out"></span> Log out
</form>
