<div>

<form method="post" action="/signup">
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="name" class="label labelS">الإسم الأول</label>
					<input id="name" type="text" class="input" name="firstName" placeholder="First Name" required>
				</div>
        <div class="group">
					<label for="name" class="label labelS">الإسم الثاني</label>
					<input id="name" type="text" class="input" name="lastName" placeholder="Last Name" required>
				</div>
				<div class="group">
					<label for="name" class="label labelS">اسم المستخدم</label>
					<input id="name" name="username" type="text" class="input" placeholder="Username" required>
				</div>
				<div class="group">
					<label for="password" class="label labelS">كلمة السر</label>
					<input id="password" name="password" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="password" class="label labelS">تأكيد كلمة السر</label>
					<input id="password" name="password2" type="password" class="input" data-type="password">
				</div>
        <div class="group">
					<label for="pass" class="label">البريد الالكتروني</label>
					<input id="pass" type="email" name="email" class="input">
				</div>

        <div class="group">
          <input type="radio" name="type" value="1">صاحب العمل<br>
           <input type="radio" name="type" value="2"> باحث عن العمل<br>

				</div>
        <div class="group">
          <label>تفاصيل عنك</label>
          <textarea type="text" name="position" ></textarea>
				</div>
                <div class="hr"></div>
        <div class="group">
            Have An Account? <a href="/login">تسجيل دخول</a>
					<input type="submit" class="button" value="تسجيل">
				</div>
		</div>
	</div>
</div>
</div>
</form>

</div>
