

            <div style="margin-right:20px" class="sign-btn pull--left">
                <span><a href="/login">دخول<i class="fas fa-sign-in-alt"></i></a></span>

            </div>
            <h1>Arab per hour</h1>
            <i class="fas fa-search pull--right"></i>
            <i class="fas fa-bars pull--right" id="menu">القائمة</i>
            <ul class="hidden menu pull--right">
                <li>الرئيسية</li>
                <li> <a href="#">المشاريع</a> </li>
                <li>المستقلين</li>
                <span class="pull--right inline--block menu--close">
                    <i class="fas fa-times-circle"></i>
                </span>
            </ul>


