            <div style="margin-right:20px">
                <span><a href="/login">تسجيل دخول</a></span>

            </div>

            <h1 style="margin-left:47%"> <a href="/">Arab per hour</a></h1>
            <ul style="list-style-type: none; margin: 0; padding: 0;" class="main-menu pull--right">
                <li><a style="display: block; width: 60px; color:black; margin-right:50px;" href="/">الرئيسية</a></li>
            </ul>
