<!DOCTYPE html>
<html lang="en">
<head>

{{>head}}

</head>
<body>
  {{#if log}}
{{>nav}}
{{else}}
{{>header}}
{{/if}}
  <main>
    {{{body}}}
  </main>
  <footer>
   {{>footer}}

  </footer>

 <script src="/js/dom.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>
