<!DOCTYPE html>
<html lang="en">
<head>
{{>head}}
</head>
<body>
  <main>
    {{{body}}}
  </main>
  <footer>
   {{>footer}}
   <p>ff</p>
  </footer>
 <script src="js/index.js"></script>
 <script src="js/dome.js"></script>
</body>
</html>
